body {
  padding: 0px;
  margin: 0px;
}

html {
  background-color: #f6f6f6;
}

div.app {
  display: flex;
  flex-direction: column;
  min-height: 86vh;
  width: 96%;
  margin: 0 auto;
  color: #2b2a29;
}

header {
  flex-basis: 29vh;
  border-radius: 16px;
  margin-bottom: 1vh;
}

main {
  display: flex;
  flex-grow: 1;
  margin: 30px 0;
  padding: 5px 0;
}

aside {
  min-width: 22%;
}

section.page {
  flex-grow: 1;
  overflow: hidden;
}

footer {
  font-size: 18px;
  min-height: 14vh;
  background-color: #4a4d50;
  padding: 10px 0 46px 0;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #ffffff;
}

.logoImg {
  max-width: 100%;
  max-height: 100%;
}

.logo {
  display: block;
  height: 102px;
  width: 122px;
  margin: 16px auto 18px auto;
}
