nav.main {
  padding: 0 30px 30px 0;
}
.main ul {
  list-style-type: none;
}

nav.main a {
  font-size: 16px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #2b2a29;
  text-transform: uppercase;
  padding: 8px;
  margin-bottom: 6px;
  border: 2px solid #2b2a29;
  border-radius: 20px;
  transition: 0.4s;
}

nav.main a:hover {
  color: #e31e24;
  border-color: #e31e24;
  transform: translateX(10px);
}

.main .icon {
  padding-right: 5px;
}

.promocje:hover {
  color: #3e724e !important;
  border-color: #3e724e !important;
}

nav.main a.active {
  color: #e31e24;
  border-color: #e31e24;
  transform: translateX(0px);
}

nav.main a.promotions {
  color: #2d7d46 !important;
  border-color: #2d7d46 !important;
  transform: translateX(0px);
}
